.container {
    border: thin solid #CCC;
    border-radius: 4px;
    margin: 30px;
    display: flex;
  }
  .face {
    width: 22%;
  }
  .face img{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  }
  .text {
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .headline {
    margin: 0;
  }
  .quote {
    margin: 0;
  }